BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "iclk" SITE "C1" ;
LOCATE COMP "irst_n" SITE "L14" ;
LOCATE COMP "owvled[0]" SITE "N13" ;
LOCATE COMP "owvled[1]" SITE "M12" ;
LOCATE COMP "owvled[2]" SITE "P12" ;
LOCATE COMP "owvled[3]" SITE "M11" ;
LOCATE COMP "owvled[4]" SITE "P11" ;
LOCATE COMP "owvled[5]" SITE "N10" ;
LOCATE COMP "owvled[6]" SITE "N9" ;
LOCATE COMP "owvled[7]" SITE "P9" ;
IOBUF PORT "iclk" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "irst_n" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "owvled[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "owvled[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "owvled[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "owvled[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "owvled[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "owvled[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "owvled[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "owvled[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "owvrgbled1[0]" SITE "M2" ;
LOCATE COMP "owvrgbled1[1]" SITE "N2" ;
LOCATE COMP "owvrgbled1[2]" SITE "P2" ;
LOCATE COMP "owvrgbled2[0]" SITE "M3" ;
LOCATE COMP "owvrgbled2[1]" SITE "N3" ;
LOCATE COMP "owvrgbled2[2]" SITE "P4" ;
IOBUF PORT "owvrgbled1[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "owvrgbled1[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "owvrgbled1[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "owvrgbled2[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "owvrgbled2[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "owvrgbled2[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
